<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Agregar categoria
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label position="floating">Nombre</ion-label>
    <ion-input name="nombre" [(ngModel)]="obj.nombre"></ion-input>
    <ion-label position="floating">categoria</ion-label>
    <ion-input name="categoria" [(ngModel)]="obj.categoria"></ion-input>
    <ion-label position="floating">codigo</ion-label>
    <ion-input name="codigo" [(ngModel)]="obj.codigo"></ion-input>
    
  </ion-item>
  <ion-button expand ="full" (click)="enviar()">Enviar</ion-button>
  
</ion-content>
